/**
 * Place your custom CSS styles here.
 **/

.addToTheMap {
  width: auto !important;
  height: 30px !important;

}

.addToTheMap:hover {
    cursor: pointer;
}

.openMap {
  /* position: fixed;
  bottom: 130px;
  right: 100px; */
}
